<!DOCTYPE html>
<html>
  <head>
  <% include includes/head.ejs %>
  </head>
  <body>
    <% include includes/header.ejs %>
    <div class="container contact contact-new">
      <div class="contact-menu">
        <a class="btn btn-default" href="/show">Back</a>
      </div>
      <section>
        <h2>New</h2>
        <form class="contact-form" action="/create" method="post">
          <div class="form-group">
             <label for="name">Name</label>
             <input class="form-control" type="text"  name="name" value="">
          </div>
          <div class="form-group">
             <label for="email">E-mail</label>
             <input class="form-control" type="text"  name="email" placeholder="ex) hong@address.com">
          </div>
          <div class="form-group">
             <label for="phone">Phone</label>
             <input class="form-control" type="text"  name="phone" placeholder="ex) 010-4545-4545">
          </div>

          <div>
           <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>


      </section>
    </div>
  </body>
</html>
