<!DOCTYPE html>
<html>
  <head>
  <% include includes/head.ejs %>
  </head>
  <body>
    <% include includes/header.ejs %>
    <% include includes/nav.ejs %>
    <section>
      <h2>Index</h2>
      <ul>
      <% contacts.forEach(function(contact) { %>
        <li><a href="/show/<%= contact._id %>"><%= contact.name %></a></li>
      <% }) %>
      </ul>
    </section>
  </body>
</html>
