<!DOCTYPE html>
<html>
  <head>
  <% include includes/head.ejs %>
  </head>
  <body>
    <% include includes/header.ejs %>
    <div class="container contact contact-index">
      <section>
        <h2>Index</h2>
        <ul class="list-group">
        <% contacts.forEach(function(contact) { %>
          <li class="list-group-item"><a href="/show/<%= contact._id %>"><%= contact.name %></a></li>
        <% }) %>
        </ul>
      </section>


    </div>
  </body>
</html>
