* { margin: 0; padding: 0; }

header {
  height: 100px;
  background: royalblue;
  color: #fff;

  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 2em;
  font-weight: bold;
}

nav, section { padding: 15px 10px; }

section h2 { color: tomato; }

form p { margin-top: 10px; }
form {padding: 10px;}
form input {margin-top: 3px;}
span { display: flex;}
.as { display: inline-block;}

a { text-decoration: none!important;  }

label {margin-top: 5px;}
